<template>
<div class="row">
  <!-- banner -->
  <section v-scroll-reveal class="col-12 banner p-0 m-0">
    <div class="hero">
      <img class="logo" src="@/assets/Icônes/LaMaison_Icônes_Symbole_Noir.svg" alt="">
      <h1 class="title">{{ $t("faq.Title") }}</h1>
      <p class="subtitle">{{ $t("faq.Subtitle") }}</p>
    </div>
    <div class="hero-image-wrapper w-100 h-100">
        <img class="w-100 h-100 hero-image" src="@/assets/images/LaMaison_Modélisation_1.jpg" alt="" sizes="" srcset="">
    </div>
  </section>

  <section v-scroll-reveal class="col-10 mx-auto text-center">
    <p>
      {{ $t("faq.Text1") }}
    </p>
  </section>

  <section v-scroll-reveal class="col-10 mx-auto" id="questions">
    <question-component :title="$t('faq.Option1.Question')"><p>{{$t('faq.Option1.Answer') }}</p> <p v-html="$t('faq.Option1.Text')"></p></question-component>
    <question-component :title="$t('faq.Option2.Question')"><p>{{$t('faq.Option2.Answer') }}</p> </question-component>
    <question-component :title="$t('faq.Option3.Question')"><p>{{$t('faq.Option3.Answer') }}</p> </question-component>
    <question-component :title="$t('faq.Option4.Question')"><p>{{$t('faq.Option4.Answer') }}</p> </question-component>
    <question-component :title="$t('faq.Option5.Question')"><p>{{$t('faq.Option5.Answer') }}</p> </question-component>
    <question-component :title="$t('faq.Option6.Question')"><p>{{$t('faq.Option6.Answer') }}</p> </question-component>
  </section>

</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import QuestionComponent from '@/components/QuestionComponent.vue'
import changeTitle from '@/utils/title'
export default defineComponent({
  name: 'Hotel',
  components: {
    QuestionComponent
  },
  created: function () {
    changeTitle(this.$t('header.FAQ'))
  }
})
</script>
<style>
#questions{
  margin-bottom: 100px;
}
</style>
