<template>
<div class="row">
  <!-- banner -->
  <section v-scroll-reveal class="col-12 p-0 m-0 banner banner-full">
    <div class="hero">
      <img class="logo" src="@/assets/Icônes/LaMaison_Icônes_Symbole_Noir.svg" alt="">
      <h1 class="title">{{ $t("home.EnterIn") }}</h1>
      <h1 class="title">{{ $t("home.TheHouse") }}</h1>
      <p class="subtitle" v-html="$t('home.Subtitle')">
      </p>
    </div>
    <div class="hero-image-wrapper w-100 h-100">
        <img class="w-100 h-100 hero-image" src="@/assets/images/LaMaison_Modélisation_1.jpg" alt="" sizes="" srcset="">
    </div>
  </section>

  <section v-scroll-reveal class="col-12 mt-5">
    <div class="row">
      <div class="col-10 col-sm-8 col-lg-8 mx-auto text-center">
        <p class="text-beige font-custom-bold">{{ $t("home.InRegardsTo") }}</p>
        <h2 class="title-2 mx-auto" style="max-width: 789px">
          {{ $t('home.AnExtraordinaryExperienceAwaitsYou') }}
        </h2>
        <p class="mx-auto">
         {{ $t("home.Text1") }}
        </p>
      </div>
      <div class="col-11 mx-auto my-3">
        <figure class="image-wrapper">
          <img src="@/assets/images/Fairmont.png" alt="" srcset="">
          <div class="at-top">
            <div class="bg-dark text-white px-3 py-2 font-custom">
              {{ $t("home.DiscoverTheHotel") }}
            </div>
          </div>
        <div class="at-top-left d-none d-md-block" style="font-size: 1vw ">
          <a class="text-decoration-none text-dark  d-flex font-custom" target="blank" href="https://goo.gl/maps/z8ZEAav6zdYZ3FyB9">
            <p style="text-align: justify ;" v-html='$t("home.Address1")'></p>
            <p>
              <span class="icon-arrow mx-3" style="width:1vw"></span>
            </p>
          </a>
        </div>
        <!-- only in phone screens -->
        <figcaption class="d-md-none">
         <div class="mt-2">
            <a class="text-decoration-none text-dark  d-flex justify-content-end font-custom" target="blank" href="https://goo.gl/maps/z8ZEAav6zdYZ3FyB9">
            <p class="mx-2" style="text-align: justify ;" v-html='$t("home.Address1")'></p>
            <p>
              <span class="icon-arrow"></span>
            </p>
          </a>
         </div>
        </figcaption>
      </figure>
      </div>
    </div>
  </section>

  <section v-scroll-reveal class="col-12 mb-5 mt-md-5">
    <div class="row justify-content-center">
      <div class="col-11 col-md-5 col-lg-4 d-flex flex-wrap align-content-between">
        <div class="mb-4">
          <p class="text-beige  font-custom-bold">
            {{ $t("home.RoomsAndSuites") }}
          </p>
          <h2 class="title-2">
            {{ $t("home.ComfortableWorlds") }}
          </h2>
          <small class="font-14">
            {{ $t("home.Text2") }}
          </small>
        </div>
        <div class>
          <a href="#" class="font-custom btn btn-dark rounded-0 text-white hoverable-button">
            {{ $t("home.ExploreTheRooms") }}
            <span class="icon-arrow-white hoverable-icon"></span>
            </a>
        </div>
      </div>
      <div class="col-11 col-md-5 col-lg-4 mb-3 m-md-0 order-first">
          <img src="@/assets/images/LaMaison_Modélisation_3.jpg" class="w-100 h-100 object-fit" alt="" srcset="">
      </div>
    </div>
  </section>

  <section v-scroll-reveal class="col-12 my-5">
    <div class="col-10 mx-auto bg-silver p-5">
      <div class="row">
            <div class="col-12 col-lg-6">
              <div class="py-sm-3">
                <p class="text-beige font-custom-bold">{{ $t("home.ALargeUnitedFamily") }}</p>
                <h2 class="title-2">
                  {{ $t("home.VisitOurRestaurants") }}
                </h2>
                <small class="font-14">
                  {{ $t("home.Text3") }}
                </small>
              </div>
            </div>

            <div class="col-12 col-lg-6">
              <div class="row justify-content-around">
                <div class="col-12 col-sm-5 col-lg-5">
                  <img src="@/assets/images/img-1.jpg" class="object-fit" style="width:100%;height:50%">
                  <div class="my-2">
                    <div class="mb-2 d-flex align-items-center">
                      <span class="icon-location-pin-dark"></span>
                    </div>
                    <p class="text-justify" style="max-width:160px" v-html='$t("home.Address1")'></p>
                    <a class="text-dark text-decoration-none d-flex align-items-center font-custom-bold" href="">
                      {{ $t("home.VisitTheWebsite") }}<span class="mx-3 icon-arrow"></span>
                    </a>
                  </div>
                </div>

                <div class="col-12 col-sm-5 col-lg-5">
                  <img src="@/assets/images/img-2.jpg" class="object-fit" style="width:100%;height:50%">
                  <div class="my-2">
                    <i class="fa fa-map-marker-alt "></i>
                    <div class="mb-2 d-flex align-items-center">
                      <span class="icon-location-pin-dark"></span>
                    </div>
                    <p class="text-justify" style="max-width:160px" v-html='$t("home.Address1")'></p>
                    <a class="text-dark text-decoration-none d-flex align-items-center font-custom-bold" href="">
                      {{ $t("home.VisitTheWebsite") }}<span class="mx-3 icon-arrow"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>
</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import changeTitle from '@/utils/title'
export default defineComponent({
  name: 'Home',
  created: function () {
    changeTitle()
  }
})
</script>
<style>
.letter-space{
letter-spacing: .1rem;
}

</style>
