<template>
<div class="row">
  <!-- banner -->
  <section v-scroll-reveal class="col-12 banner">
    <div class="hero">
      <img class="logo" src="@/assets/Icônes/LaMaison_Icônes_Symbole_Noir.svg" alt="">
      <h1 class="title">{{ $t("hotel.Title") }}</h1>
      <p class="subtitle">{{ $t("hotel.Subtitle") }}</p>
    </div>
    <div class="hero-image-wrapper">
        <img class="w-100 h-100 hero-image" src="@/assets/images/LaMaison_Modélisation_1.jpg" alt="" sizes="" srcset="">
    </div>
  </section>

  <!-- section 1 -->
  <section v-scroll-reveal class="col-12 my-5">
    <div class="row justify-content-center">
      <div class="col-10 col-md-5 col-lg-4 d-flex flex-wrap align-content-between">
        <div class="mb-4">
          <p class="text-beige font-custom-bold">
           {{ $t("hotel.InRegardsTo") }}
          </p>
          <h2 class="title-2">
            {{ $t("hotel.ComfortableWorlds") }}
          </h2>
          <small>
            <p>
              {{ $t("hotel.Text1") }}
            </p>
            <p>
              {{ $t("hotel.Text2") }}
            </p>
          </small>
        </div>
        <div>
          <a href="#" class="btn btn-dark rounded-0 text-white hoverable-button font-custom">
            {{ $t("hotel.ReserveNow") }}
            <span class="icon-arrow-white hoverable-icon"></span>
            </a>
        </div>
      </div>
      <div class="col-10 col-md-5 col-lg-4 order-first order-md-last mb-3 m-md-0">
          <img src="@/assets/images/LaMaison_Modélisation_3.jpg" class="w-100 h-100 object-fit" alt="" srcset="">
      </div>
    </div>
  </section>
  <!-- section 2 -->
  <section v-scroll-reveal class="col-12 my-5">
    <div class="row justify-content-center">
       <div class="col-10 col-md-5 col-lg-4 mb-3 m-md-0">
          <img src="@/assets/images/LaMaison_Modélisation_3.jpg" class="w-100 h-100 object-fit" alt="" srcset="">
      </div>
      <div class="col-10 col-md-5 col-lg-4 d-flex flex-wrap align-content-between">
        <div class="mb-4">
          <p class="text-beige font-custom-bold">
           {{ $t("hotel.Location") }}
          </p>
          <h2 class="title-2">
            {{ $t("hotel.InTheHeartOfTheMainAlley") }}
          </h2>
          <small>
            <p>
              {{ $t("hotel.Text3") }}
            </p>
            <p>
              {{ $t("hotel.Text4") }}
            </p>

          </small>
        </div>
        <div>
          <a href="#" class="btn btn-dark rounded-0 text-white hoverable-button font-custom">
            {{ $t("hotel.ExploreTheNeighborhood") }}
            <span class="icon-arrow-white hoverable-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- section 3 -->
  <section v-scroll-reveal class="col-12 my-5">
    <div class="row justify-content-center">
      <div class="col-10 col-md-5 col-lg-4 d-flex flex-wrap align-content-between">
        <div class="mb-4">
          <p class="text-beige font-custom-bold">
            {{ $t("hotel.Historical") }}
          </p>
          <h2 class="title-2">
            {{ $t("hotel.AHeritageBuilding") }}
          </h2>
          <small>
            <p>
              {{ $t("hotel.Text5") }}
            </p>
            <p>
              {{ $t("hotel.Text6")}}
            </p>
          </small>
        </div>
        <div>
          <a href="#" class="btn btn-dark rounded-0 text-white hoverable-button font-custom">
            {{ $t("hotel.GetMoreDetails") }}
            <span class="icon-arrow-white hoverable-icon"></span>
            </a>
        </div>
      </div>
      <div class="col-10 col-md-5 col-lg-4 mb-3 m-md-0 order-first order-md-last">
          <img src="@/assets/images/LaMaison_Modélisation_3.jpg" class="w-100 h-100 object-fit" alt="" srcset="">
      </div>
    </div>
  </section>

  <!-- section 4 -->
  <section v-scroll-reveal class="col-12 my-5">
    <div class="row justify-content-center">
       <div class="col-10 col-md-5 col-lg-4 mb-3 m-md-0">
        <img src="@/assets/images/11.jpg" class="w-100 h-100 object-fit" alt="" srcset="">
      </div>
      <div class="col-10 col-md-5 col-lg-4 d-flex flex-wrap align-content-between">
        <div class="mb-4">
          <p class="text-beige font-custom-bold">
           {{ $t("hotel.Services.Caption") }}
          </p>
          <h2 class="title-2">
            {{ $t("hotel.Services.Title") }}
          </h2>
          <small>
            <p>
              {{ $t("hotel.Services.Text1") }}
            </p>
            <p>
              {{ $t("hotel.Services.Text2") }}
            </p>
            <p>
              {{ $t("hotel.Services.Text3") }}
            </p>

          </small>
        </div>
        <div>
          <router-link to="/services" class="btn btn-dark rounded-0 text-white hoverable-button font-custom">
          {{ $t("hotel.Services.Button") }}
          <span class="icon-arrow-white hoverable-icon"></span>
          </router-link>
        </div>
      </div>
    </div>
  </section>

  <section v-scroll-reveal class="col-11 mx-auto  my-5">
    <div class="row  p-4 justify-content-center">
      <question />
    </div>
  </section>

</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Question from '@/components/Question.vue'
import changeTitle from '@/utils/title'
export default defineComponent({
  name: 'Hotel',
  components: { Question },
  created: function () {
    changeTitle(this.$t('header.Hotel'))
  }
})
</script>
<style>

</style>
