<template>
<div class="row">
  <!-- banner -->
  <section v-scroll-reveal class="col-12 banner p-0 m-0">
    <div class="hero">
      <img class="logo" src="@/assets/Icônes/LaMaison_Icônes_Symbole_Noir.svg" alt="">
      <h1 class="title">{{ $t("package.EnterIN") }}</h1>
      <p class="subtitle">{{ $t("package.Subtitle1") }}</p>
    </div>
    <div class="hero-image-wrapper w-100 h-100">
        <img class="w-100 h-100 hero-image" src="@/assets/images/LaMaison_Modélisation_1.jpg" alt="" sizes="" srcset="">
    </div>
  </section>

  <section v-scroll-reveal class="col-10 mx-auto text-center">
      <p class="font-14">
       {{ $t("package.Text1") }}
      </p>
      <p class="bg-khaki px-4 py-2 font-custom-bold font-20">
       {{ $t("package.Text2") }}

      </p>
  </section>

  <!-- section 1 -->
  <section v-scroll-reveal class="col-11 mx-auto  my-5">
    <div class="row bg-silver p-4 justify-content-center">
      <div class="col-12 text-center my-4 mb-5">
        <h2 class="title-2 ">
         {{ $t("package.Romance.Title") }}
        </h2>
        <small class="text-secondary font-custom">{{ $t("package.Romance.Subtitle") }}</small>
      </div>
      <div class="col-12 col-md-6 mb-3 m-md-0">
          <img src="@/assets/images/LaMaison_Modélisation_3.jpg" class="w-100 h-100 object-fit" alt="" srcset="">
      </div>

      <div class="col-12 col-md-6 d-flex flex-wrap align-content-between">
        <div class="mb-4">
          <p>
            <small class="font-14">
              {{ $t("package.Romance.Text1") }}
            </small>
          </p>
          <p>
            <small>
            <b>{{ $t("package.Romance.Bold1") }}</b>
            </small>
          </p>
          <p>
            <small>
              <ul class="p-0 ml-1">
                <li>{{ $t("package.Romance.Option1") }}</li>
                <li>{{ $t("package.Romance.Option2") }}</li>
                <li>{{ $t("package.Romance.Option3") }}</li>
                <li>{{ $t("package.Romance.Option4") }}</li>
                <li>{{ $t("package.Romance.Option5") }}</li>
              </ul>
            </small>
          </p>
          <p>
          <small class="subtitle-3 d-block">
            {{ $t("package.Romance.Note1") }}
          </small>

          <small class="subtitle-3 d-block">
            {{ $t("package.Romance.Note2") }}
          </small>

          <small class="subtitle-3 d-block">
            {{ $t("package.Romance.Note3") }}
          </small>
          </p>
        </div>
        <div>
          <a href="#" class="btn btn-dark rounded-0 text-white hoverable-button font-custom">
            {{ $t("package.ReserveButton") }}
            <span class="icon-arrow-white hoverable-icon"></span>
            </a>
        </div>
      </div>
    </div>
  </section>

  <!-- section 1 -->
  <section v-scroll-reveal class="col-11 mx-auto  my-5">
    <div class="row bg-silver p-4 justify-content-center">
      <div class="col-12 text-center my-4 mb-5">
        <h2 class="title-2 ">
          {{ $t("package.Storm.Title") }}
        </h2>
        <small class="text-secondary font-custom">{{ $t("package.Storm.Subtitle") }}</small>
      </div>
      <div class="col-12 col-md-6 mb-3 m-md-0">
        <img src="@/assets/images/LaMaison_Modélisation_3.jpg" class="w-100 h-100 object-fit" alt="" srcset="">
      </div>

      <div class="col-12 col-md-6 d-flex flex-wrap align-content-between">
        <div class="mb-4">
          <p>
            <small class="font-14">
              {{ $t("package.Storm.Text1") }}
            </small>
          </p>
          <p>
            <small>
            <b>{{ $t("package.Storm.Bold1") }}</b>
            </small>
          </p>
          <p>
            <small>
              <ul class="p-0 ml-1">
                <li>{{ $t("package.Storm.Option1") }}</li>
                <li>{{ $t("package.Storm.Option2") }}</li>
                <li>{{ $t("package.Storm.Option3") }}</li>
                <li>{{ $t("package.Storm.Option4") }}</li>
              </ul>
            </small>
          </p>
        </div>
        <div>
          <a href="#" class="btn btn-dark rounded-0 text-white hoverable-button font-custom">
            {{ $t("package.ReserveButton") }}
            <span class="icon-arrow-white hoverable-icon"></span>
            </a>
        </div>
      </div>
    </div>
  </section>

  <!-- section 1 -->
  <section v-scroll-reveal class="col-11 mx-auto  my-5">
    <div class="row bg-silver p-4 justify-content-center">
      <div class="col-12 text-center my-4 mb-5">
        <h2 class="title-2 ">
         {{ $t("package.Book.Title") }}
        </h2>
        <small class="text-secondary font-custom">{{ $t("package.Book.Subtitle") }}</small>
      </div>
      <div class="col-12 col-md-6 mb-3 m-md-0">
          <img src="@/assets/images/LaMaison_Modélisation_3.jpg" class="w-100 h-100 object-fit" alt="" srcset="">
      </div>

      <div class="col-12 col-md-6 d-flex flex-wrap align-content-between">
        <div class="mb-4">
          <p>
            <small class="font-14">
              <p>{{ $t("package.Book.Text1") }}</p>
              <p>{{ $t("package.Book.Text2") }}</p>
            </small>
          </p>
          <p>
            <small>
            <b>{{ $t("package.Book.Bold1") }}</b>
            </small>
          </p>

          <p>
            <small>
              <p>{{ $t("package.Book.Text3") }}</p>
            </small>
          </p>
        </div>
        <div>
          <a href="#" class="btn btn-dark rounded-0 text-white hoverable-button font-custom">
            {{ $t("package.ReserveButton") }}
            <span class="icon-arrow-white hoverable-icon"></span>
            </a>
        </div>
      </div>
    </div>
  </section>
  <section v-scroll-reveal class="col-11 mx-auto  my-5">
    <div class="row  p-4 justify-content-center">
      <question />
    </div>
  </section>
</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Question from '@/components/Question.vue'
import changeTitle from '@/utils/title'

export default defineComponent({
  name: 'Package',
  components: { Question },
  created: function () {
    changeTitle(this.$t('header.PackagesAndOffers'))
  }
})
</script>
<style>

</style>
