<template>
  <div class="row">
  <!-- banner -->
  <section v-scroll-reveal class="col-12 p-0 m-0">
    <div class="hero">
      <img class="logo" src="@/assets/Icônes/LaMaison_Icônes_Symbole_Noir.svg" alt="">
      <p class="title">{{ $t("room.Title") }}</p>
      <p class="subtitle">{{ $t("room.Subtitle") }}</p>
    </div>
    <div class="hero-image-wrapper w-100 h-100">
        <img class="w-100 h-100 hero-image" style="max-height: 400px" src="@/assets/images/LaMaison_Modélisation_2.jpg" alt="" sizes="" srcset="">
    </div>
  </section>

  <section class="col-10 mx-auto text-center">
      <p class="font-14">
       {{ $t("room.Text1") }}
      </p>
      <p class="bg-khaki px-4 py-2 font-custom-bold font-20" >
       {{ $t("room.Text2") }}
      </p>
  </section>

  <!-- section 1 -->
  <section class="col-11 mx-auto  my-5">
    <div class="row bg-silver p-4 justify-content-center">
      <div v-scroll-reveal class="col-12 text-center my-4 mb-5">
        <h2 class="title-2 ">
          {{ $t("room.Economic.Title") }}
        </h2>
        <small class="text-secondary font-custom">{{ $t("room.Economic.Subtitle") }}</small>
      </div>
      <div class="col-12 col-md-6 mb-3 m-md-0">
        <img src="@/assets/images/LaMaison_Modélisation_3.jpg" style="max-height: 400px" class="w-100 h-100 object-fit" alt="" srcset="">
        <slide-show :images="sliders.slide1" />
      </div>

      <div class="col-12 col-md-6 d-flex flex-wrap align-content-between">
        <div>
          <small class="font-14">
            <p>
              {{ $t("room.Economic.Text1") }}
            </p>
            <p>
              {{ $t("room.Economic.Text2") }}
            </p>
            <p>
              {{ $t("room.Economic.Text3") }}
            </p>
          </small>
        </div>
        <div class="w-100">
          <option-component :title="$t('room.MoreDetails')">
            <p>1</p>
            <p>2</p>
          </option-component>
        </div>
        <div>
          <a href="#" class="btn btn-dark rounded-0 text-white hoverable-button font-custom">
            {{ $t("room.ReserveButton") }}
            <span class="icon-arrow-white hoverable-icon"></span>
            </a>
        </div>
      </div>
    </div>
  </section>

  <!-- section 2 -->
  <section class="col-11 mx-auto  my-5">
    <div class="row bg-silver p-4 justify-content-center">
      <div v-scroll-reveal class="col-12 text-center my-4 mb-5">
        <h2 class="title-2 ">
          {{ $t("room.Kingbed.Title") }}
        </h2>
        <small class="text-secondary font-custom">{{ $t("room.Kingbed.Subtitle") }}</small>
      </div>
      <div class="col-12 col-md-6 mb-3 m-md-0">
          <img src="@/assets/images/LaMaison_Modélisation_2.jpg" style="max-height: 400px" class="w-100 h-100 object-fit" alt="" srcset="">
          <slide-show :images="sliders.slide2" />
      </div>

      <div class="col-12 col-md-6 d-flex flex-wrap align-content-between">
        <div class="mb-4">
          <small class="font-14">
            <p>
             {{ $t("room.Kingbed.Text1") }}
            </p>
            <p>
              {{ $t("room.Kingbed.Text2") }}
            </p>
            <p>
              {{ $t("room.Kingbed.Text3") }}
            </p>
          </small>
        </div>
        <div class="w-100">
          <div class="mb-3">
            <option-component :title="$t('room.MoreDetails')">
              <p>1</p>
              <p>2</p>
            </option-component>
          </div>
        </div>
        <div>
          <a href="#" class="btn btn-dark rounded-0 text-white hoverable-button font-custom">
            {{ $t("room.ReserveButton") }}
            <span class="icon-arrow-white hoverable-icon"></span>
            </a>
        </div>
      </div>
    </div>
  </section>

 <!-- section 3 -->
  <section class="col-11 mx-auto my-5">
    <div class="row bg-silver p-4 justify-content-center">
      <div v-scroll-reveal class="col-12 text-center my-4 mb-5">
        <h2 class="title-2 ">
        {{ $t("room.Queenbed.Title") }}
        </h2>
        <small class="text-secondary font-custom">{{ $t("room.Queenbed.Subtitle") }}</small>
      </div>
      <div class="col-12 col-md-6 mb-3 m-md-0">
        <img src="@/assets/images/LaMaison_Modélisation_4.jpg" class="w-100 h-100 object-fit" alt="" srcset="">
        <slide-show :images="sliders.slide3" />
      </div>

      <div class="col-12 col-md-6 d-flex flex-wrap align-content-between">
        <div class="mb-4">
          <small class="font-14">
            <p>
              {{ $t("room.Queenbed.Text1") }}
            </p>
            <p>
              {{ $t("room.Queenbed.Text2") }}
            </p>
            <p>
              {{ $t("room.Queenbed.Text3") }}
            </p>
          </small>
        </div>
        <div class="w-100">
          <option-component :title="$t('room.MoreDetails')">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae magnam quaerat cupiditate illo! Dignissimos, nobis voluptatibus libero culpa maiores repellat eum perspiciatis dicta ipsum, officia aliquid voluptas sed, dolorem enim!</p>
            <ul>
              <li>Piscine</li>
              <li>Spa</li>
              <li>Des</li>

            </ul>
          </option-component>
        </div>
        <div>
          <a href="#" class="btn btn-dark rounded-0 text-white hoverable-button font-custom">
            {{ $t("room.ReserveButton") }}
            <span class="icon-arrow-white hoverable-icon"></span>
            </a>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-black text-white py-4 px-5">
    <section v-scroll-reveal class="col-12 col-md-8 mx-auto mt-5 text-center">
      <p class="subtitle-1 text-beige">
          {{ $t("room.Dark.Caption") }}
      </p>
      <h1 class="title-1 text-white">{{ $t("room.Dark.Title") }}</h1>
      <small class="font-open-sans ">
          {{ $t("room.Dark.Subtitle") }}
      </small>
    </section>
    <!-- section 3 -->
    <section class="col-12 mx-auto my-5">
      <div class="row bg-dark p-4 justify-content-center">
        <div v-scroll-reveal class="col-12 text-center my-4 mb-5">
          <h2 class="title-2 text-white">
          {{ $t("room.Dark.Mambo.Title") }}
          </h2>
          <small class="text-secondary font-custom">{{ $t("room.Dark.Mambo.Subtitle") }}</small>
        </div>
        <div class="col-12 col-md-6 mb-3 m-md-0">
          <img src="@/assets/images/09.jpg" class="w-100 h-100 object-fit" alt="" srcset="">
          <slide-show :images="sliders.slide4" theme="dark" />
        </div>

        <div class="col-12 col-md-6 d-flex flex-wrap align-content-between">
          <div class="mb-4">
            <small class="font-14">
              <p>
                {{ $t("room.Queenbed.Text1") }}
              </p>
              <p>
                {{ $t("room.Dark.Mambo.Text2") }}
              </p>
              <p>
                {{ $t("room.Dark.Mambo.Text3") }}
              </p>
            </small>
          </div>
          <div class="w-100">
              <option-component theme="dark" :title="$t('room.MoreDetails')">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae magnam quaerat cupiditate illo! Dignissimos, nobis voluptatibus libero culpa maiores repellat eum perspiciatis dicta ipsum, officia aliquid voluptas sed, dolorem enim!</p>
                <ul>
                  <li>Piscine</li>
                  <li>Spa</li>
                  <li>Des</li>

                </ul>
              </option-component>
          </div>
          <div>
            <a href="#" class="btn btn-outline-light rounded-0 text-white hoverable-button font-custom">
              {{ $t("room.ReserveButton") }}
              <span class="icon-arrow-white hoverable-icon"></span>
              </a>
          </div>
        </div>
      </div>
    </section>

    <section class="col-12 mx-auto my-5">
      <div class="row bg-dark p-4 justify-content-center" >
        <div v-scroll-reveal class="col-12 text-center my-4 mb-5">
          <h2 class="title-2 text-white">
          {{ $t("room.Dark.Dance.Title") }}
          </h2>
          <small class="text-secondary font-custom">{{ $t("room.Dark.Dance.Subtitle") }}</small>
        </div>
        <div class="col-12 col-md-6 mb-3 m-md-0">
            <img src="@/assets/images/10.jpg" style="max-height: 400px" class="w-100 h-100 object-100" alt="" srcset="">
            <slide-show :images="sliders.slide5" theme="dark" />
        </div>

        <div class="col-12 col-md-6 d-flex flex-wrap align-content-between">
          <div class="mb-4">
            <small class="font-14">
              <p>
                {{ $t("room.Dark.Dance.Text1") }}
              </p>
              <p>
                {{ $t("room.Dark.Dance.Text2") }}
              </p>
              <p>
                {{ $t("room.Dark.Dance.Text3") }}
              </p>
            </small>
          </div>
          <div class="w-100">
              <option-component theme="dark" :title="$t('room.MoreDetails')">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae magnam quaerat cupiditate illo! Dignissimos, nobis voluptatibus libero culpa maiores repellat eum perspiciatis dicta ipsum, officia aliquid voluptas sed, dolorem enim!</p>
                <ul>
                  <li>Piscine</li>
                  <li>Spa</li>
                  <li>Des</li>

                </ul>
              </option-component>
          </div>
          <div>
            <a href="#" class="btn btn-outline-light rounded-0 text-white hoverable-button font-custom">
              {{ $t("room.ReserveButton") }}
              <span class="icon-arrow-white hoverable-icon"></span>
              </a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section v-scroll-reveal class="col-11 mx-auto  my-5">
    <div class="row  p-4 justify-content-center">
      <question />
    </div>
  </section>

  </div>
</template>

<script>
import Question from '@/components/Question.vue'
import OptionComponent from '@/components/OptionComponent.vue'
import SlideShow from '@/components/SlideShow.vue'
import changeTitle from '@/utils/title'
export default {
  name: 'Room',
  components: { Question, OptionComponent, SlideShow },
  created: function () {
    changeTitle(this.$t('header.RoomsAndSuites'))
  },
  data () {
    return {
      sliders: {
        slide1: [
          require('@/assets/images/LaMaison_Modélisation_3.jpg'),
          require('@/assets/images/LaMaison_Modélisation_4.jpg'),
          require('@/assets/images/LaMaison_Modélisation_2.jpg')
        ],
        slide2: [
          require('@/assets/images/LaMaison_Modélisation_3.jpg'),
          require('@/assets/images/LaMaison_Modélisation_4.jpg'),
          require('@/assets/images/LaMaison_Modélisation_2.jpg')
        ],
        slide3: [
          require('@/assets/images/LaMaison_Modélisation_3.jpg'),
          require('@/assets/images/LaMaison_Modélisation_4.jpg'),
          require('@/assets/images/LaMaison_Modélisation_2.jpg')
        ],
        slide4: [
          require('@/assets/images/LaMaison_Modélisation_3.jpg'),
          require('@/assets/images/LaMaison_Modélisation_4.jpg'),
          require('@/assets/images/LaMaison_Modélisation_2.jpg')
        ],
        slide5: [
          require('@/assets/images/LaMaison_Modélisation_3.jpg'),
          require('@/assets/images/LaMaison_Modélisation_4.jpg'),
          require('@/assets/images/LaMaison_Modélisation_2.jpg')
        ]
      }
    }
  }
}
</script>
