<template>
<div class="row">
  <!-- banner -->
  <section v-scroll-reveal class="col-12 banner p-0 m-0">
    <div class="hero">
      <img class="logo" src="@/assets/Icônes/LaMaison_Icônes_Symbole_Noir.svg" alt="">
      <h1 class="title">{{ $t("service.Services") }}</h1>
      <p class="subtitle">{{ $t("service.WeAreHereForYou") }}</p>
    </div>
    <div class="hero-image-wrapper w-100 h-100">
        <img class="w-100 h-100 hero-image" src="@/assets/images/LaMaison_Modélisation_3.jpg" alt="" sizes="" srcset="">
    </div>
  </section>

  <section v-scroll-reveal class="col-10 mx-auto text-center">
    <p class="font-14">
      {{ $t("service.Text1") }}
    </p>
    <p class="bg-khaki px-4 py-2 font-custom-bold font-20">
      {{ $t("service.Text2") }}
    </p>
  </section>

  <!-- section 1 -->
  <section v-scroll-reveal class="col-11 mx-auto  my-5">
    <div class="row bg-silver p-4 justify-content-center">
      <div class="col-12 text-center my-4 mb-5">
        <h2 class="title-2 ">
          {{ $t("service.Breakfast.Title") }}
        </h2>
        <small class="text-secondary font-custom">{{ $t("service.Breakfast.Subtitle") }}</small>
      </div>
      <div class="col-12 col-md-6 mb-3 m-md-0">
          <img src="@/assets/images/06.jpg" class="w-100 h-100 object-fit" alt="" srcset="">
      </div>

      <div class="col-12 col-md-6 font-14 d-flex flex-wrap align-content-between">
        <div class="mb-4">
          <p>
            <small>
              {{ $t("service.Breakfast.Text1") }}
            </small>
          </p>
          <p>
            <small>
            <b>{{ $t("service.Breakfast.Bold1") }}</b>
            </small>
          </p>
          <p>
            <small>
              <ul class="p-0 ml-1">
                <li>{{ $t("service.Breakfast.Option1") }}</li>
                <li>{{ $t("service.Breakfast.Option2") }}</li>
                <li>{{ $t("service.Breakfast.Option3") }}</li>
                <li>{{ $t("service.Breakfast.Option4") }}</li>

              </ul>
            </small>
          </p>
          <p>
          <small class="subtitle-3 d-block">
           {{ $t("service.Breakfast.Note1") }}
          </small>

          <small class="subtitle-3 d-block">
           {{ $t("service.Breakfast.Note2") }}
          </small>
          </p>
        </div>

      </div>
    </div>
  </section>

  <!-- section 2 -->
  <section v-scroll-reveal class="col-11 mx-auto  my-5">
    <div class="row bg-silver p-4 justify-content-center">
      <div class="col-12 text-center my-4 mb-5">
        <h2 class="title-2 ">
          {{ $t("service.Valet.Title") }}
        </h2>
        <small class="text-secondary font-custom">{{ $t("service.Valet.Subtitle") }}</small>
      </div>
      <div class="col-12 col-md-6 mb-3 m-md-0">
        <img src="@/assets/images/05.webp" class="w-100 h-100 object-fit" alt="" srcset="">
      </div>

      <div class="col-12 col-md-6 d-flex flex-wrap align-content-between font-14">
        <div class="mb-4">
          <p>
            <small>
              {{ $t("service.Valet.Text1") }}
            </small>
          </p>
          <p>
            <small>
              {{ $t("service.Valet.Text2") }}
            </small>
          </p>
          <p>
            <small>
            <b>{{ $t("service.Valet.Bold1") }}</b>
            </small>
          </p>
          <p>
          <small class="subtitle-3 d-block">
           {{ $t("service.Valet.Note1") }}
          </small>

          </p>
        </div>

      </div>
    </div>
  </section>

  <!-- section 3 -->
  <section v-scroll-reveal class="col-11 mx-auto  my-5">
    <div class="row bg-silver p-4 justify-content-center">
      <div class="col-12 text-center my-4 mb-5">
        <h2 class="title-2 ">
          {{ $t("service.Reception.Title") }}
        </h2>
        <small class="text-secondary font-custom">{{ $t("service.Reception.Subtitle") }}</small>
      </div>
      <div class="col-12 col-md-6 mb-3 m-md-0">
        <img src="@/assets/images/07.jpg" class="w-100 h-100 object-fit" alt="" srcset="">
      </div>

      <div class="col-12 col-md-6 d-flex flex-wrap align-content-between font-14">
        <div class="mb-4">
          <p>
            <small>
              {{ $t("service.Reception.Text1") }}
            </small>
          </p>
          <p>
            <small>
              {{ $t("service.Reception.Text2") }}
            </small>
          </p>
          <p>
            <small>
            <b>{{ $t("service.Reception.Bold1") }} concierge@lamaisin.com</b>
            </small>
          </p>
          <p>
          <small class="subtitle-3 d-block">
           {{ $t("service.Reception.Note1") }}
          </small>
          </p>
          <p>
            <small class="subtitle-3 d-block">
            {{ $t("service.Reception.Note2") }}
            </small>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- section 4 -->
  <section v-scroll-reveal class="col-11 mx-auto  my-5">
    <div class="row bg-silver p-4 justify-content-center">
      <div class="col-12 text-center my-4 mb-5">
        <h2 class="title-2 ">
          {{ $t("service.Restaurants.Title") }}
        </h2>
        <small class="text-secondary font-custom">{{ $t("service.Restaurants.Subtitle") }}</small>
      </div>
      <div class="col-12 col-md-6 mb-3 m-md-0">
          <img src="@/assets/images/08.jpg" class="w-100 h-100 object-100" alt="" srcset="">
      </div>

      <div class="col-12 col-md-6 d-flex flex-wrap align-content-between font-14">
        <div class="mb-4">
          <p>
            <small >
              {{ $t("service.Restaurants.Text1") }}
            </small>
          </p>
          <p>
            <small>
            <b>{{ $t("service.Restaurants.Bold1") }}</b>
            </small>
            <br>
            <small>
              {{ $t("service.Restaurants.Text2") }}
            </small>
          </p>

          <p>
            <small>
            <b>{{ $t("service.Restaurants.Bold2") }}</b>
            </small>
            <br>
            <small>
              {{ $t("service.Restaurants.Text3") }}
            </small>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section v-scroll-reveal class="col-11 mx-auto  my-5">
    <div class="row  p-4 justify-content-center">
      <question />
    </div>
  </section>
</div>
</template>

<script lang="ts">
import Question from '@/components/Question.vue'
import changeTitle from '@/utils/title'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Services',
  components: { Question },
  created: function () {
    changeTitle(this.$t('header.Services'))
  }
})
</script>
<style>

</style>
