<template>
  <nav id="nav" class="navbar navbar-expand-lg  navbar-light bg-silver fixed-top text-uppercase">
    <div class="container-fluid">
      <router-link to="/" class="navbar-brand" style="max-width: 200px">
        <img src="@/assets/Branding/Logos/Logo/Écran/Noir/Ophélia_HB_Noir.svg" class="w-100" alt="">
      </router-link>
      <!-- Phone screen button -->
      <a
        class="navbar-toggler navbar-phone-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerMain"
        aria-controls="navbarTogglerMain"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-menu"></span>
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerMain">
        <!-- Desktop menu -->
        <div class="d-none d-sm-block d-lg-flex w-100">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
              <router-link :class="{'active': $route.name == 'hotel' }" class="nav-link h5" aria-current="hotel" to="/hotel" >{{ $t('header.Hotel') }}</router-link>
              </li>
              <li class="nav-item">
                <router-link :class="{'active': $route.name == 'rooms' }" class="nav-link h5" aria-current="rooms" to="/rooms" >{{ $t('header.RoomsAndSuites') }}</router-link>
              </li>
              <li class="nav-item">
                <router-link :class="{'active': $route.name == 'packages' }" class="nav-link h5" aria-current="packages" to="/packages" >{{ $t('header.PackagesAndOffers') }}</router-link>
              </li>
              <li class="nav-item">
                <router-link :class="{'active': $route.name == 'services' }" class="nav-link h5" aria-current="services" to="/services" >{{ $t('header.Services') }}</router-link>
              </li>
              <li class="nav-item">
                <a href="#Contact" class="nav-link h5" aria-current="contant">{{ $t('header.Contact') }}</a>
              </li>
            </ul>
            <form class="d-flex ml-auto">
              <div>
                <a class="btn btn-dark text-white rounded-0 hoverable-button font-custom" type="submit">
                  {{ $t('header.Reserve') }}
                  <span class="icon-arrow-white hoverable-icon"></span>

                </a>
              </div>
              <nav aria-label="breadcrumb" class="mx-4 mt-2">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><localization lang="fr" /></li>
                  <li class="breadcrumb-item"><localization lang="en" /></li>
                </ol>
              </nav>
            </form>
        </div>
        <!-- Phone   menu -->
        <div class="d-sm-none d-flex flex-column pt-5 justify-content-center h-100">
          <ul class="navbar-nav text-center font-engr-bold" style="font-size: 6rem !important">
            <li class="nav-item">
            <router-link :class="{'active': $route.name == 'home' }" class="nav-link fs-6 font-custom text-black" aria-current="home" to="/" >{{ $t('header.Welcome') }}</router-link>
            </li>
            <li class="nav-item">
            <router-link :class="{'active': $route.name == 'hotel' }" class="nav-link fs-2 text-black" aria-current="hotel" to="/hotel" >{{ $t('header.Hotel') }}</router-link>
            </li>
            <li class="nav-item">
              <router-link :class="{'active': $route.name == 'rooms' }" class="nav-link fs-2 text-black" aria-current="rooms" to="/rooms" >{{ $t('header.RoomsAndSuites') }}</router-link>
            </li>
            <li class="nav-item">
              <router-link :class="{'active': $route.name == 'packages' }" class="nav-link fs-2 text-black" aria-current="packages" to="/packages" >{{ $t('header.PackagesAndOffers') }}</router-link>
            </li>
            <li class="nav-item">
              <router-link :class="{'active': $route.name == 'services' }" class="nav-link fs-2 text-black" aria-current="services" to="/services" >{{ $t('header.Services') }}</router-link>
            </li>
            <li class="nav-item">
              <a href="#Contact" class="nav-link fs-2 text-black" aria-current="contant">{{ $t('header.Contact') }}</a>
            </li>
          </ul>
          <div class="text-center mt-4 mb-auto">
            <a class="btn btn-dark text-white rounded-0 hoverable-button font-custom" type="submit">
              {{ $t('header.Reserve') }}
              <span class="icon-arrow-white hoverable-icon"></span>
            </a>
          </div>
          <nav aria-label="breadcrumb bg-danger" class="align-self-center mb-4">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><localization lang="fr" /></li>
              <li class="breadcrumb-item"><localization lang="en" /></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import Localization from '@/components/Localization.vue'
export default {
  name: 'Navbar',
  components: {
    Localization
  },
  data () {
    return {
      lang: this.$store.state.lang,
      trans: this.$store.state.dictionary
    }
  }

}
</script>
<style>
#nav {
  padding: 30px;
  color: black;
  top: 0;
  font-family:"custom-bold" !important;
}
.nav-link{
    color: dimgray !important;
}
.nav-link.active::first-letter{
  border-bottom: 2px solid gray;
}
.icon-menu{
  transform: translate(0,35%);
  display: inline-block;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

#nav .navbar-phone-toggler{
  margin: 0;
  border: 0;
  outline: none;
  border-radius: 0;
  width: 64px;
  height: 64px;
  text-align: center;
  background-color: #000 !important;
  /* filter: invert(100%) !important; */
}
.navbar-toggler  .icon-menu{
  background-image: url('../../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Menu_Fermer.svg');
}
.navbar-toggler.collapsed .icon-menu{
  background-image: url('../../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Menu.svg');
}
</style>
