<template>
<div>
  <a href="" class="btn btn-dark">s</a>
</div>
  <!-- <router-link class="btn btn-dark text-white rounded-0">
    <span v-if="active" class="icon-arrow-white"></span>
  </router-link> -->
</template>

<script>
export default {
  name: 'CustomButton',
  // props: {
  //   href: String,
  //   body: String
  // },
  data () {
    return {
      active: false
    }
  }
}
</script>
