<template>
  <a class="lang-option text-gray font-engr" v-bind:class="{ 'active' : lang == current}" v-on:click="change(lang)">{{ lang.toUpperCase() }}</a>
</template>

<script>
import i18n from '@/plugins/i18n'
export default {
  name: 'Localization',
  props: {
    lang: String
  },
  computed: {
    current () {
      return i18n.global.locale
    }
  },
  methods: {
    change (lang) {
      i18n.global.locale = lang
    }
  }
}
</script>
<style>
.lang-option{
  cursor: pointer;
  text-decoration: none;
}
.lang-option.active{
  color: rgb(36, 36, 36) !important;
}
</style>
