<template>
  <div class="option-wrapper px-3 py-3 my-2">
    <div v-on:click="isActive = !isActive" class="option-header d-flex justify-content-between border-bottom">
      <span class="font-custom-bold">{{ title }}</span>
      <span>
        <template v-if="theme.toLowerCase() == 'light' ">
          <i v-if="isActive" class="icon-minus"></i>
          <i v-else class="icon-plus"></i>
        </template>

        <template v-if="theme.toLowerCase() == 'dark' ">
          <i v-if="isActive" class="icon-minus-light"></i>
          <i v-else class="icon-plus-light"></i>
        </template>

      </span>
    </div>

    <div v-if="isActive" class="option-body py-2 font-open-sans">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OptionComponent',
  props: {
    title: String,
    theme: {
      type: String,
      default: 'light'
    }
  },
  data () {
    return {
      isActive: false
    }
  }
}
</script>

<style>
.option-header{
  cursor: pointer;
}
.icon-plus {
  width: 20px;
  height: 20px;
  background-image: url("../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Plus.svg");
}
.icon-minus {
  width: 20px;
  height: 20px;
  background-image: url("../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Moins.svg");
}
.icon-plus-light {
  width: 20px;
  height: 20px;
  filter: invert(100%);
  background-image: url("../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Plus.svg");
}
.icon-minus-light {
  width: 20px;
  height: 20px;
  filter: invert(100%);
  background-image: url("../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Moins.svg");
}
</style>
