<template>
  <div class="" style="max-width: 900px;">
    <div class="col-12 text-center my-4 mb-5">
    <div class="row">
        <p class="col-12">
          <img class="question-logo" src="@/assets/Icônes/LaMaison_Icônes_Symbole_Beige.svg" alt="" />
        </p>

      <h2 class="col-12 mx-auto title-2">
        {{ $t("service.Questions.Title") }}
      </h2>
      <small class="col-12 text-secondary mx-auto">{{ $t("service.Questions.Text") }}</small>
    </div>
    </div>
    <div class="col-12 text-center">
      <router-link to="/faq" href="" class="btn btn-dark text-white rounded-0 font-custom">
        {{ $t("service.Questions.Button") }}
      </router-link>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Question'
}
</script>
<style>
.question-logo{
  margin: 0 auto;
  width: 10vw;
  max-width: 64px;
}
</style>
