<template>
  <div class="question-wrapper bg-silver px-3 py-3 my-2">
    <div class="question-header d-flex justify-content-between">
      <span class="font-custom">{{ title }}</span>
      <span v-on:click="isActive = !isActive">
        <i v-if="isActive" class="icon-minus"></i>
        <i v-else class="icon-plus"></i>
      </span>
    </div>

    <div v-if="isActive" class="question-body">
      <hr>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'QuestionComponent',
  props: {
    title: String
  },
  data () {
    return {
      isActive: false
    }
  }
}
</script>

<style>
.icon-plus {
  width: 20px;
  height: 20px;
  background-image: url("../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Plus.svg");
}
.icon-minus {
  width: 20px;
  height: 20px;
  background-image: url("../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Moins.svg");
}
</style>
