<template>
  <div>
    <template v-if="theme == 'light'">
      <a v-on:click="isActive = !isActive" class="btn btn-dark rounded-0 slide-show-button">
        <div class="icon-slide-show-dark"></div>
      </a>
    </template>
    <template v-else>
      <a v-on:click="isActive = !isActive" class="btn btn-outline-light rounded-0 slide-show-button">
        <div class="icon-slide-show-light"></div>
      </a>
    </template>

  </div>
  <div class="slide-show-wrapper" v-if="isActive">
    <div class="slide-show  mx-auto d-flex flex-column">
      <div class="slide-show-header d-flex justify-content-between py-2 px-4">
        <span></span>
        <h4 v-on:click="isActive = false" class="close-button border p-2">
          <div class="icon-close"></div>
        </h4>
      </div>
      <div class="slide-show-body mt-auto d-flex align-items-center justify-content-between">
        <div class="border p-1" v-on:click="decrease()">
          <div class="icon-arrow-left"></div>
        </div>
        <div class="mx-3" style="max-width:100vh">
          <img :src="images[current]" class="img-fluid" alt="">
        </div>
        <div class="border p-1" v-on:click="increase()">
          <div class="icon-arrow-right"></div>
        </div>
      </div>

       <div class="slide-show-footer d-flex justify-content-center mt-auto ">
         <div v-for="(image,index) in images" v-bind:key="index" v-on:click="current = index" class="mx-1" style="width:100px;height:100px;">
          <img :src="image" class="w-100" >
         </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SlideShow',
  props: {
    images: Array,
    theme: {
      type: String,
      default: 'light'
    }
  },
  data () {
    return {
      isActive: false,
      current: 0
    }
  },
  methods: {
    increase () {
      if (this.current < this.images.length - 1) {
        this.current += 1
      } else {
        this.current = 0
      }
    },
    decrease () {
      if (this.current > 0) {
        this.current -= 1
      } else {
        this.current = this.images.length - 1
      }
    }
  }
}
</script>

<style>
.slide-show-button{
  transform: translate(20px,-50px);
}
.slide-show-button:hover{
  background-color: white !important;
}
.slide-show-button:hover div{
  filter: invert(100%);
  background-image: url("../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Image.svg");
}

.slide-show-wrapper{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, .9);
}
.slide-show{
  margin-top: 15px;
  width: 100vw;
  height: 100vh;
}
.close-button{

  text-decoration-style: none;
  color: white;
  cursor: pointer;
}
.slide-show-body{
  width: 80%;
  /* height: 50%; */
  margin: 0 auto;
}
.slide-show-footer{
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.icon-close{
  width: 24px;
  height: 24px;
  background-image: url("../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Menu_Fermer.svg");
}
.icon-slide-show-dark{
  width: 24px;
  height: 24px;
  background-image: url("../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Image.svg");
}
.icon-slide-show-light{
  width: 24px;
  height: 24px;
  background-image: url("../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Image.svg");
}
.icon-arrow-right{
  min-width: 24px;
  min-height: 24px;
  background-image: url("../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Flèche.svg");
}
.icon-arrow-left{
  min-width: 24px;
  min-height: 24px;
  transform: rotate(180deg);
  background-image: url("../assets/Icônes/LaMaison_Icônes_BoutonNavigation_Flèche.svg");
}
</style>
