<template>
    <div id="footer">
      <div class="row" id="footer-wrapper">
          <div class="col-12 col-md-8">
           <a target="blank" href="https://goo.gl/maps/z8ZEAav6zdYZ3FyB9">
              <div class="image-wrapper">
                <img src="@/assets/images/Monochrome-1650919329732.jpg" class="w-100 h-100" style="max-height:460px;object-fit: cover" alt="" srcset="">
                <div class="at-location">
                    <div class="card w-100">
                      <div class="card-body px-2 p-1">
                        <div class="d-flex align-items-center">
                          <p class="m-0 font-custom" style="text-align: justify;" v-html='$t("home.Address1")'></p>
                            <span class="icon-arrow ml-1"></span>
                        </div>
                      </div>
                    </div>
                    <span class="map-pin mt-2"></span>
                </div>
            </div>
           </a>
          </div>
          <div class="col-12 col-md-4 px-md-4 pt-4 pb-4  text-white font-custom d-flex justify-content-start">
            <div class="ml-3" style="font-size: 20px">
              <a href="" id="Contact"></a>
              <p class="caption">
                  {{ $t("footer.ContactInformation") }}
              </p>
              <p class="d-flex align-items-start">
                <span class="icon-location-pin mt-1"></span>
                <span class="mx-3">

                  634 GRANDE ALLEE E. <br> GIR 2K5 QUEBEC QC
                </span>
              </p>
              <div class="my-4 d-flex align-items-center">
                <i class="icon-phone"></i>
                <span class="mx-3">(418) 524 8228</span>
              </div>
              <div class="my-4 d-flex align-items-center">
                <i class="icon-envelope mt-1"></i>
                <span class="mx-3">INFO@LAMAISON.COM</span>
              </div>

              <div class="my-4 d-flex align-items-center">
                <i class="icon-question mt-1"></i>
                <span class="mx-3">
                  <router-link to="/faq" class="text-decoration-none text-white">FOIRE AUX QUESTIONS
                  <i class="icon-arrow-white"></i>
                  </router-link>
                </span>
              </div>

              <p class="caption">
                  {{ $t("footer.FollowUs") }}
              </p>
              <div class="mt-1">
                <a target="blank" href="https://www.facebook.com/Opheliaqc/">
                  <i class="icon-facebook"></i>
                </a>
                <a target="blank" href="https://www.instagram.com/opheliaqc/?hl=en">
                  <i class="icon-instagram mx-3"></i>
                </a>
              </div>
            </div>

          </div>

          <div class="col-12">
            <div class="bg-khaki text-secondary px-3 py-1 row justify-content-between font-open-sans" style="font-size: 12px">
              <small class="col-12 col-sm-6 text-left" v-html="$t('footer.CopyRight')"></small>
              <small class="col-12 col-sm-6 text-right" v-html="$t('footer.DesignBy')"></small>
            </div>
          </div>
      </div>
    </div>
</template>

<script>

export default {
  name: 'Footer'
}

</script>
<style>
#footer-wrapper{
  font-family: 'custom' !important;
  background-color: black;
  font-size: 18px;
  width: 100vw;
}

.at-location{
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 1.2rem;
  width: max-content;
  max-width: 500px;
  /* height: auto; */
  top: 40%;
  left:46%;
  transform: translate(-50%,-50%);
}
.map-pin{
  width: 5vw;
  height: 5vw;
  max-width: 28px;
  max-height: 28px;
  filter: invert(100%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../../assets/Icônes/LaMaison_Icônes_Coordonnées_Adresse_Blanc.svg");
}
.icon-location{
  width: 20px;
  height: 20px;
  background-image: url("../../assets/Icônes/LaMaison_Icônes_Coordonnées_Adresse_Blanc.svg");
}

.icon-location-pin{
  width: 20px;
  height: 20px;
  background-image: url("../../assets/Icônes/LaMaison_Icônes_Coordonnées_Adresse_Blanc.svg");
}

.icon-phone{
  width: 20px;
  height: 20px;
  background-image: url("../../assets/Icônes/LaMaison_Icônes_Coordonnées_Téléphone.svg");
}
.icon-envelope{
  width: 20px;
  height: 20px;
  background-image: url("../../assets/Icônes/LaMaison_Icônes_Coordonnées_Courriel.svg");
}
.icon-instagram{
  width: 24px;
  height: 24px;
  background-image: url("../../assets/Icônes/LaMaison_Icônes_MédiaSocial_Instagram.svg");
}
.icon-facebook{
  width: 24px;
  height: 24px;
  background-image: url("../../assets/Icônes/LaMaison_Icônes_MédiaSocial_Facebook.svg");
}
.icon-question{
  width: 20px;
  height: 20px;
  background-image: url("../../assets/Icônes/LaMaison_Icônes_Coordonnées_Questions.svg");
}
</style>
