<template>
  <Navbar class="w-100" />
  <router-view class="p-0 m-0 w-100" />
  <Footer class="w-100" />
</template>
<script>
import Navbar from '@/components/header/header.vue' // @ is an alias to /src
import Footer from '@/components/footer/Footer.vue' // @ is an alias to /src

export default {
  name: 'app',
  components: {
    Navbar,
    Footer
  }
}

</script>
<style>

:root{
  --header-height: 200px;
}

@font-face {
  font-family: "engr";
  src: url("assets/Typographies/engr.ttf");
}
@font-face {
  font-family: "engr-bold";
  src: url("assets/Typographies/engr-bold.ttf");
}
@font-face {
  font-family: "open sans";
  src: url("assets/Typographies/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "custom";
  src: url("assets/Typographies/custom-regular.ttf");
}
@font-face {
  font-family: "custom-bold";
  src: url("assets/Typographies/custom-bold.ttf");
}

/* tablet screen */
@media all and (max-width: 900px) {
  /* :root{
    --header-height: 200px;
  } */
  .title{
    font-size: 5vw !important;
  }
  .title-2{
    font-size: 3vw !important;
  }
  .subtitle{
    font-size: 2vw !important;
  }
}

/* phone screen */
@media all and (max-width: 575px) {
  #nav{
    padding: 0;
  }
  #nav .navbar-brand{
    margin: 10px 5px ;
  }
  .title{
    font-size: 7vw !important;
  }
  .title-2{
    font-size: 6vw !important;
  }
  .subtitle{
    font-size: 4vw !important;
  }
  .banner{
    height: 40vh !important;
  }
  .banner-full{
    height: 75vh !important;
  }
  .hero .logo{
    width: 50px !important;
  }
  .navbar-collapse {
    height: calc( 100vh - 59px) !important;
  }
}

.title, .title-2, .subtitle{
  margin: 0 auto;
  width: max-content;
  color: #0F0B0C;
  max-width: 100%;
}
.title{
  font-size: 3.25rem;
  font-family: "engr-bold";
}
.title-2{
  width: 100%;
  font-size: 2.5rem;
  font-family: "engr-bold";
}
.subtitle{
  font-family: "custom";
  font-size: 1.25rem;
}
.font-14{
  font-size: 0.875rem;
}
.font-20{
  font-size: 1.25rem;
}
.subtitle-1,.subtitle-2,.subtitle-3,.subtitle-4,.subtitle-5{
  font-family: "custom";
  color: #0F0B0C;
}
.subtitle-1{
  font-size: 25px;
}
.subtitle-3{
  font-size: 12px;
}
.font-open-sans{
  font-family: "open sans" !important;
}
.font-custom{
  font-family: "custom" !important;
}
.font-custom-bold{
  font-family: "custom-bold" !important;
}
body{
  font-family: "open sans" !important;

  /* background-color: red; */
}
.title-1,.title-2,.title-3,.title-4,.title-5{
  font-family: "engr-bold" !important;
  color: #0F0B0C;
}
.font-engr{
  font-family: "engr" !important;
}
.font-engr-bold{
  font-family: "engr-bold" !important;
}
.banner{
  position: relative;
  height: 40vh;
  min-height: 300px;
  margin-bottom: 20px;
}
.banner-full{
  height: 100vh;
}
.hero{
  text-align: center;
  margin: 0;
  max-width: 90vw;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -30px);
  z-index: 10;
}
.hero .logo{
  width: 64px;
}
.caption{
  color: #F5F3EA;
  opacity: .6;
}
.hero-image-wrapper{
  width: 100%;
  height: 100%;
  background-color: #f5f3ea;
}
.object-fit{
  object-fit: cover;
}
.hero-image{
  opacity: .4;
  object-fit: cover;
}
.image-wrapper{
  position: relative;
  text-align: center;
  color: black !important;
}
.image-wrapper>img{
  width: 100%;
  /* height: 100vh; */
}

.at-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.at-top{
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%,-50%);
}
.at-top-left{
  position: absolute;
  top: 30px;
  right: 30px;
}
.bg-silver{
  background-color: #faf9f4;
}
.bg-khaki{
  background-color: #e2e0d5;
}
.bg-black{
  background-color: #0e0a0b !important;
}
.text-black{
  color: #0e0a0b !important;
}
.text-beige{
  color: #bbb7a0;
}
.text-gray{
  color: #747474 !important;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.icon-location-pin,.icon-arrow,.icon-envelope,.icon-facebook,.icon-instagram,.icon-phone,.icon-arrow,.icon-wifi,
.icon-question,.icon-arrow-white,.icon-plus,.icon-minus,.icon-plus-light,.icon-minus-light.icon-location-pin-dark{
  display: inline-block;
  background-repeat: no-repeat;
}
.icon-arrow{
  width: 15px;
  height: 15px;
  background-image: url("assets/Icônes/LaMaison_Icônes_BoutonSecondaire_Flèche_Noir.svg");
}
.icon-arrow-white{
  width: 15px;
  height: 15px;
  background-image: url("assets/Icônes/LaMaison_Icônes_BoutonSecondaire_Flèche_Blanc.svg");
}
.icon-wifi{
  width: 32px;
  height: 32px;
  background-image: url("assets/Icônes/LaMaison_Icônes_Symbole_Noir.svg");
}
.icon-location-pin-dark{
  width: 20px;
  height: 20px;
  filter: invert(100%);
  background-image: url("assets/Icônes/LaMaison_Icônes_Coordonnées_Adresse_Blanc.svg");
}
.w-15{
  width: 5vw;
}
.ml-1{
  margin-left: 10px;
}
.ml-2{
  margin-left: 20px;
}
.ml-3{
  margin-left: 30px;
}
.ml-4{
  margin-left: 40px;
}
.ml-5{
  margin-left: 50px;
}

.mr-1{
  margin-right: 10px;
}
.mr-2{
  margin-right: 20px;
}
.mr-3{
  margin-right: 30px;
}
.mr-4{
  margin-right: 40px;
}
.mr-5{
  margin-right: 50px;
}
.hoverable-button {
  padding-left: 24px !important;
}
.btn-outline-light.hoverable-button:hover{
  background: transparent;
}
.hoverable-button .hoverable-icon{
  opacity: 0;
}
.hoverable-button:hover .hoverable-icon{
  opacity: 1;
}
</style>
